<header>
    <mnav></mnav>
</header>
<div class="bg">
 <!--slider area start-->
 <div class="slider_area">
            
    <video autoplay muted loop class="ADanimation">
      <source src="../../assets/HOme acce/home2.avi">
   </video>  
   </div>

 <!--slider area end-->

  <!-- product_preview_area_start -->
  <div class="row">
    <product [imgSrc]="'../../assets/HOme acce/dSAFDa.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/dsD.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/S.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/sa.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/saaaaaa.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/sasd.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/HOme acce/ss.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/HOme acce/sss.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/HOme acce/sssssss.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/HOme acce/ssssssss.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/HOme acce/sssssssss.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/HOme acce/Untitled-4.jpg'" [price]="'LBP50,000'"></product>
   
    </div>
      <!-- product_preview_area_end -->




 <nav aria-label="Page navigation example" class="homeaccessbnav">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
<mfooter></mfooter>
