
<body>   
    
    
    <!-- header-start -->
    <header>

        <mnav></mnav>
        </header>
        <!-- header-end -->
    
        <!-- slider_area_start -->
        <div class="slider_area">
            
         <video autoplay muted loop class="ADanimation">
           <source src="../assets/animation/AD.mp4">
        </video>  
        </div>
        <!-- slider_area_end -->
        <!-- product_preview_area_start -->
<div class="bg">

            <div class="row2">
              <div class="col-md-6 col-lg-4">
                  <div class="single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                     
                      <h2>New Arrivals</h2>
                      
                  </div>
              </div>
              </div>


        <div class="row">
        <product [imgSrc]="'../../assets/homepg/sssssss.jpg'" [price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/sssssssssa.jpg'" [price]="'LBP50,000'"></product>
        <product [imgSrc]="'../../assets/homepg/sssssssssssss.jpg'" [price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-3.jpg'" [price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-3s.jpg'"[price]="'$50'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-3ss.jpg'"[price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-3sssss.jpg'" [price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-3sssssssssssss.jpg'" [price]="'LBP50,000'" ></product>
        <product [imgSrc]="'../../assets/homepg/Untitled-4.jpg'" [price]="'LBP50,000'" ></product>
       
        </div>
</div>

       <div class="divm">
        <nav class="nav nav-pills nav-fill ">
          <a class="nav-item nav-link1" routerLink='/ourproducts'>More Products</a>
         </nav>
       </div>
       
          <!-- product_preview_area_end -->
    
        <!-- footer start -->
       <mfooter></mfooter>
        <!--/ footer end  -->
</body>