
<header>
    <mnav></mnav>
</header>
 
   <!-- aboutUs_area_start  -->
<div class="bg">

    <br>
    <br>
    <br>
   <table class="tb">
       <tr class="single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
        <h1 class="abouth">About Us</h1>
       </tr>
       <tr>
           <td class= "wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
            <img class="img-left" src="../../assets/about/about.jpg"/>
           </td>
           <td>
            <p class="par  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">I always think good design is suitable for everyone. For this reason, co-founders and creative employees are committed from the start to working with the best designers to create quality straw products that are fashionable and available to a wide audience. This founding principle continues to motivate us today.</p>
           </td>
       </tr>
   </table>


   <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">
   <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="category mb-10">
                <div class="htcatthumb"> <img src="../../assets/about/Untitled-2.jpg" alt="about images"> 
                    <p class="about1">Founder</p>
                </div>
            </div>
            </div>

            <div class="col-md-4">
                <div class="category mb-10">
                    <div class="htcatthumb"> <img src="../../assets/about/Untitled-1.png" alt="about images">
                    <p class="about1">Director</p>
                     </div>
                </div>
                </div>

                <div class="col-md-4">
                    <div class="category mb-10">
                        <div class="htcatthumb"> <img src="../../assets/about/c.jpg" alt="about images">
                    <p class="about1">Manager</p>
                        </div>
                    </div>
                    </div>
            </div>
   </div>
   </div>
</div>

   
                   
        
   

 <!-- about us area end-->

 <!-- contact us area start-->
 
    <div class="about single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
      
        <h1 class="abouth1">Contact Us</h1>
         
         <ul>
            <li class="pcontact">
                Have any questions or requests?
            </li>
        </ul>


        <div id="index-gallery">
            <div class="item">
              <img src="../../assets/about/locaion.jpg" alt=""/>
              <p class="pcont1">1st floor, Sara Complex,<br> MarElias street, Mina,<br> Tripoli, Lebanon </p>
            </div>
          
            <div class="item">
              <img src="../../assets/about/phone.jpg" alt=""/>
              <p class="pcont1"> +961-81890569 <br> +961-65890569</p>
            </div>
          
            <div class="item">
              <img src="../../assets/about/pobox.jpg" alt=""/>
              <p class="pcont1"> P.o.box: 1715,<br>Tripoli-Lebanon</p>
            </div>
          
          </div>







        

</div>


<!-- contact us area end-->

<!-- contact form area start-->
<div class="col-md-6 col-lg-4">
    <div class="about single_works wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
       
        <h3 class="abouth3">Contact Form</h3>
       </div>
</div>


<form class="form-inline">
    <div class="row">
      <div class="col">
          <div class="row">
              <div class="fname">
        <input type="text" class="form-control1" id="email" placeholder="Enter your name" name="name">
              
        <input type="text" class="form-control1" id="email" placeholder="Enter your email" name="email">
              </div>
          </div>
      </div>
      <div class="col">
        <div class="fmessage">
        <input type="text" class="form-control2" placeholder="Enter your message" name="pswd">
        </div>
      </div>
      <button type="submit" class="fbtn">Send message</button>
    </div>
  </form>

  
<!-- contact form area end-->


<mfooter></mfooter>



