/* line 215, ../../Arafath/CL/December/234. Finance/HTML/scss/_header.scss */
.header-area .main-header-area .logo .main-menu ul li a:hover {
  background-color: #f69320;
  border: 2px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 16px 32px;
 
}


.header-area .main-header-area .main-menu ul li a:hover {
  background-color:#f69320;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  border-radius: 10px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: capitalize;
  border: 2px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #000;
  border-radius: 10px;
}

