<footer class="footer">
 
    <div class="footer_top" >
        <div class="container">
           <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="fT text-uppercase mb-4 font-weight-bold">Products</h6>
          <p class="fp">
            <a class="fl" routerLink='/homeaccess'>Home accessories</a>
          </p>
          <p class="fp">
            <a class="fl" routerLink='/homeaccess'>Furniture</a>
          </p>
          <p class="fp">
            <a class="fl" routerLink='/wear'>Accessories</a>
          </p>
          <p class="fp">
            <a class="fl" routerLink='/wear'>Bags</a>
          </p>
          <p class="fp">
            <a class="fl" routerLink='/wear'>Shoes</a>
          </p>
          <p class="fp">
            <a class="fl" routerLink='/souvenir'>Souvenir</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="fT text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p class="fp">
              1st floor, Sara Complex, MarElias street, Mina, Tripoli, Lebanon.</p>
            <p class="fp">
              www.Bendy.com</p>
            <p class="fp">
              +961-81890569 /<br>+961-65890569</p>
            <p class="fp">
              P.o.box: 1715, Tripoli-Lebanon</p>
          </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="fT text-uppercase mb-4 font-weight-bold">Customer Service</h6>
            <p class="fp">
              <a class="fl" href="#!">Track your order</a>
            </p>
            <p class="fp">
              <a class="fl" href="#!">Site Map</a>
            </p>
            <p class="fp">
              <a class="fl" href="#!">Help</a>
            </p>
            
          </div>




        
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="rowy d-flex align-items-center">
        
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
          <div class="social_icons_rounded">
            <ul>
                <li><a href="#" class="gap f_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gap t_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                
                
                <li><a href="#" class="gap g_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                
                
                <li><a href="#" class="gap instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
         
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <div class="">
    <div class="rowt col-xl-4 col-md-6 col-lg-5">
        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            
            <form action="#" class="newsletter_form">
                <input type="text" placeholder="Enter your mail">
                <button type="submit">Register now</button>
            </form>

            
           
            

        </div>
    </div>
  </div>
    
  </footer>
  <!-- Footer -->


        </div>
    </div>
   <div class="leftbcorner">
       <img src="../../assets/bottomimg/Untitled-6.png" class="leftbimg">
   </div>
 
</footer>
