.page-footer{
    margin-right: 20%;
    
}



.leftbcorner{
    position: relative;
}

.leftbimg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 20%;
}



.fT{
    
    font-family: "candara bold", sans-serif;
    color: #f69320;
}

.fp{
color: black;
font-family: "roboto",sans-serif;
  }

.fl{
    font-family: "roboto",sans-serif;
}  

  .fl:hover{
    color: #f69320;
    
      }


.social_icons_rounded ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    
}

.social_icons_rounded ul li a {
    float: left;
    border-radius: 50%;
    line-height: 40px;
    color: #e0e0e0;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0
}

.social_icons_rounded ul li a i {
    font-size: 16px
}

.f_facebook:hover {
    color: #fff;
    background: #f69320;
    border: 1px solid #f69320
}

.t_twitter:hover {
    color: #fff;
    background: #f69320;
    border: 1px solid #f69320
}





.g_google:hover {
    color: #fff;
    background: #f69320;
    border: 1px solid #f69320
}





.instagram:hover {
    color: #fff;
    background: #f69320;
    border: 1px solid #f69320
}

.gap {
    margin-left: 15px
}


.rowy{
    margin: auto;
    width: 47%;
}

.rowt{
   margin-left: 26%;
}