<header>
    <mnav></mnav>
</header>
 <!--slider area start-->
 <div class="bg">
 <div class="slider_area">
            
    <video autoplay muted loop class="ADanimation">
      <source src="../../assets/Souvenir/home4.mp4">
   </video>  
   </div>

 <!--slider area end-->

  <!-- product_preview_area_start -->
  <div class="row">
    <product [imgSrc]="'../../assets/Souvenir1/d.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/bsdggf.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/dsvsdv.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/fgnbdfgnfgnf.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/jdtygyjmgmndtyyjmfgmk.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/s.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/ss.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/sss.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/ssssa.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/ssssssssssssss.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/sssssssssssssssssssss.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Souvenir1/Untitled.jpg'" [price]="'LBP50,000'" ></product>
   
    </div>
      <!-- product_preview_area_end -->

 <nav aria-label="Page navigation example" class="homeaccessbnav">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
 </div>





<mfooter></mfooter>


