<header>
    <mnav></mnav>
</header>

<div class="bg">
 <!--slider area start-->
 <div class="slider_area">
            
    <video autoplay muted loop class="ADanimation">
      <source src="../../assets/wear/home3.mp4">
   </video>  
   </div>

 <!--slider area end-->

  <!-- product_preview_area_start -->
  <div class="row">
    <product [imgSrc]="'../../assets/Wear1/a.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/afvgsdg.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/as.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/bfggfx.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/bfgnfg.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/bnfgtnfgt.jpg'"[price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/gfngf.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/nfgnfgxngf.jpg'" [price]="'LBP50,000'" ></product>
    <product [imgSrc]="'../../assets/Wear1/Untitled-2.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/Wear1/Untitled-4.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/Wear1/Untitled-4dbgdf.jpg'" [price]="'LBP50,000'"></product>
    <product [imgSrc]="'../../assets/Wear1/Untitled-254.jpg'" [price]="'LBP50,000'"></product>

   
    </div>
      <!-- product_preview_area_end -->

      
 <nav aria-label="Page navigation example" class="homeaccessbnav">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
 

</div>
<!--footer start-->

<mfooter></mfooter>

 