.row{
    margin: auto;
    width: 80%;
}

.slider_area{
    text-align: center;
   
}

.ADanimation{
    width: 100%;
  
}

.bg{
    background: url(../../assets/bg/wear.svg) no-repeat;
    background-size: cover;
   width: 100%;
    background-position:bottom ;
    position: relative;
    bottom: 0px;
    left: 0px;
}






